<html>
<head>
    <title>Index</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="mx-4">
        <div style="width: 30%; float:left">
            <form action="/update_stats" method="post">
                <br>
                <button class="px-3 py-1 bg-blue-500 text-white ml-4">
                    update stats (including active & pending)</button>
            </form>
            <form action="/load_stats" method="post">
                <button class="px-3 py-1 bg-blue-500 text-white ml-4">load historical stats</button>
            </form>
            <form action="/pending" method="get">
                <button class="px-3 py-1 bg-blue-500 text-white ml-4">show pending total</button>
            </form>
            <form action="/clear_cache" method="post">
                <button class="px-3 py-1 bg-blue-500 text-white ml-4">clear cache</button>
            </form>
        </div>
        <div style="width: 70%; float:right">
            <form action="/performance" method="post">
                enter start date in 'ddmmyy' format:<br>
                <input class="bg-blue-100" name="start" />
                <button class="px-3 py-1 bg-blue-500 text-white ml-4" >show performance</button>
            </form>

            <form action="/update_cookies" method="post">
                put your request as curl here:<br>
                <input class="bg-blue-100" name="curl" />
                <button class="px-3 py-1 bg-blue-500 text-white ml-4" >update cookies</button>
            </form>

            <form action="/analyze" method="post">
                put your selection link here:<br>
                <input class="bg-blue-100" name="url" />
                <button class="px-3 py-1 bg-blue-500 text-white ml-4" >analyze</button>
            </form>
        </div>

        <div class="mx-4">
            {{ message }}
        </div>

        {% if context %}
        <table class="min-w-[50%] mb-4">
            <thead class="border-b text-lg">
                <tr>
                    <th class="border">Group ID</th>
                    <th class="border">Group name</th>
                    <th class="border">Reach</th>
                    <th class="border">Cost</th>
                    <th class="border">Cost prev</th>
                    <th class="border">Rub/Click</th>
                    <th class="border">Clicks</th>
                    <th class="border">Date</th>
                    <th class="border">Reach</th>
                    <th class="border">Reach coeff</th>
                    <th class="border">New follows</th>
                    <th class="border">Post name</th>
                </tr>
            </thead>
            <tbody class="text-center text-sm">
                {% for group_id, group_data in context.items() %}
                {% if group_id in skipped %}
                <tr style="background-color:#ffbfaa">
                {% elif group_id in cache %}
                <tr style="background-color:#c2d7c0">
                {% else %}
                <tr>    
                {% endif %}
                    <td class="border">{{ group_id }}</td>
                    <td class="border">{{ group_data.group_name[:20] }}</td>
                    <td class="border">{{ group_data.reach }}</td>
                    <td class="border">{{ group_data.cost }}</td>
                    {% if group_id in active %}
                        <td class="border">active now</td>
                    {% endif %}
                    {% if group_data['data'] is none %}
                        <td class="border">no data</td>
                    {% else %}
                        {% for item in group_data['data'] %}
                        <tr>
                            <td class="border"></td>
                            <td class="border"></td>
                            <td class="border"></td>
                            <td class="border"></td>
                            <td class="border">{{ item.cost_prev }}</td>
                            <td class="border">{{ item.click_rub }}</td>
                            <td class="border">{{ item.clicks }}</td>
                            <td class="border">{{ item.date }}</td>
                            <td class="border">{{ item.reach }}</td>
                            <td class="border">{{ item.reach_rub }}</td>
                            <td class="border">{{ item.new_follows }}</td>
                            <td class="border">{{ item.post_name[:20] }}</td>
                        </tr>
                        {% endfor %}
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
        {% if pending %}
        <table class="min-w-[50%] mb-4">
            <thead class="border-b text-lg">
                <tr>
                    <th class="border">Date</th>
                    <th class="border">Total Rub</th>
                </tr>
            </thead>
            <tbody class="text-center text-sm">
                {% for date, cost in pending.items() %}
                <tr>
                    <td class="border">{{ date }}</td>
                    <td class="border">{{ cost }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
        {% if performance %}
        <table class="min-w-[50%] mb-4">
            <thead class="border-b text-lg">
                <tr>
                    <th class="border">Post name</th>
                    <th class="border">Spent Rub</th>
                    <th class="border">Clicks</th>
                    <th class="border">Reach</th>
                    <th class="border">Rub/Click</th>
                    <th class="border">CTR</th>
                    <th class="border">Reach coeff</th>
                </tr>
            </thead>
            <tbody class="text-center text-sm">
                {% for item in performance %}
                <tr>
                    <td class="border">{{ item.post_name }}</td>
                    <td class="border">{{ item.cost }}</td>
                    <td class="border">{{ item.clicks }}</td>
                    <td class="border">{{ item.reach }}</td>
                    {% if item.clicks %}
                        <td class="border">{{ item.cost // item.clicks }}</td>
                        <td class="border">{{ (item.clicks / item.reach * 100)|round(2) }}</td>
                    {% else %}
                        <td class="border">{{ item.cost }}</td>
                        <td class="border">0</td>
                    {% endif %}
                    <td class="border">{{ item.cost * 1000 // item.reach }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</body>
</html>